body{
	font-family: arial, helvetica, sans-serif;
	background-color: lightgray;
}
h2{
	margin-top: 50;
	text-align:center;
	font-family: arial, helvetica, sans-serif;
}
p{
	font-family: arial, helvetica, sans-serif;
	padding-left: 30;
	text-align: justify;
}
.content-text{
	padding-left: 90;
	padding-right: 90;
}